@tailwind base;
@tailwind components;
@tailwind utilities;

.news-carousel ul.slick-dots {
  @apply m-0 flex max-w-[80px] left-[50%] pt-2 -translate-x-[60%] justify-between !important;
}

.news-carousel ul.slick-dots li {
  @apply w-2 h-2 mt-2 p-0  rounded-full bg-wblue-50;
}

.news-carousel ul.slick-dots li button {
  @apply hidden;
}

.news-carousel ul.slick-dots li.slick-active {
  @apply bg-wblue-500 rounded-full;
}

@layer utilities {
  .h1 {
    font-size: 45px;
    font-weight: 400;
    line-height: 54px;
  }
  .h1-bold {
    font-size: 39px;
    font-weight: 600;
    line-height: 46.8px;
  }
  .h2 {
    font-size: 28px;
    font-weight: 400;
    line-height: 33px;
  }
  .h2-bold {
    font-size: 28px;
    font-weight: 600;
    line-height: 33px;
  }
  .h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
  }
  .h3-bold {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
  }
  .p {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
  }
  .p-bold {
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
  }
    .p-small {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }
      .p-footer {
    font-size: 14px;
    font-weight: 200;
    line-height: 20px;
  }
  .p-small-bold {
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
  }
}

@layer base {
  .link {
    @apply p-bold hover:text-wblue-500 flex items-center;
  }

  .center-all {
    @apply flex justify-center items-center;
  }
}
